---
- name: Install sshpass
  ansible.builtin.apt:
    name:
      - sshpass
    state: present
  become: true

- name: Install ansible
  pip:
    name:
      - ansible==9.1.0
    extra_args: --user
  check_mode: false
  become: true
  become_user: infra
